services:
  python-server:
    build:
      context: ./python-server
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./python-server/src:/app/src

  node-app:
    build:
      context: ./node-server
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    command: npm start
    environment:
      - PORT=8001
    depends_on:
      - python-server
